/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 auto;
  padding-left: 50px;
}

.card {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  border: 2px solid #ccc;
  padding: 10px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #7e7b7b;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .btn {
    margin: 0 auto;
  }

  .container-box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
  }

  .desc {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column;
  }

  .count {
    font-weight: 500;
  }

  button {
    background-color: rgba(78, 117, 255, 1);

    color: white;
    border: none;
    height: 23px;
    border-radius: 5px;
  }

  button:hover {
    background-color: rgba(108, 140, 255, 1);
  }

  input:hover {
    border: 1px solid black;
    border-radius: 4px;
  }

  input.pressed {
    border-radius: 4px;
    border: 1px solid rgba(108, 140, 255, 1);
    outline: none;
  }